#myNav{
    z-index:19;
    width: 100%;
    position: fixed;
    padding: 10px;
    padding-top: 15px;
    border-bottom: solid 2px navy;
}
#header-nav{
    display: inline;
}
.header-nav-item{
    z-index:20;
    font-size: 20px;
    display: inline;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.header-nav-name{
    z-index:20;
    font-size: 20px;
    padding: 10px;
    padding-top: 0px;
    float: right;
}
.header-nav-item:hover{
    background: rgba(255, 82, 1, 0.329);
}
.header-img{
    width: 100%;
}
.header-img-container{
    height: 450px;
    overflow-y: hidden;
}
#content-wrapper{
    clear: left;
}
.link-custom{
    border-radius: 6px;
    /* border: solid 1px rgba(43, 84, 109, 0.384); */
    margin-bottom: 10px;
    padding: 5px;
    padding-left: 15px;
}

.link-custom-img{
    width: 100%;
    border-radius: 5px;
    border: solid 2px navy;
}
.custom-btn{
    font-size: 12px;
    height: 26px;
    padding: none;
    margin: none;
}

.design-image{
    width: 100%;
    border-radius: 5px;
}

#code-page{
    display: none; 
}
#music-page{
    display: none; 
}
#design-page{
    display: none; 
}
#contact-page{
    display: none; 
}
ul {
    padding: 5px;
    margin: 0px;
}